    <section class="top" style="background: linear-gradient(to right, var(--main-color) 25%, rgba(255, 255, 255, 0)), url('{{homeTop.imageTop}}') no-repeat center;   background-size: cover;
    background-attachment: fixed;">
        <div class="max-width">
            <div class="top-content">
                <div class="text-1">{{homeTop.titleOneTop}}</div>
                <div class="text-2">{{homeTop.titleTwoTop}}</div>
                <div class="text-3">{{homeTop.titleThreeTop}}</div>
                <a href="{{homeTop.linkBtnTop}}">{{homeTop.txtBtnTop}}</a>
            </div>
        </div>
    </section>
 <section class="services">
        <div class="max-width">
            <h2 class="title">{{homeServices.servTitle}}</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="{{homeServices.servIconOne}}"></i>
                        <div class="text">{{homeServices.servTitleOne}}</div>
                        <p>{{homeServices.servDescOne}}</p>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="{{homeServices.servIconTwo}}"></i>
                        <div class="text">{{homeServices.servTitleTwo}}</div>
                        <p>{{homeServices.servDescTwo}}</p>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="{{homeServices.servIconThree}}"></i>
                        <div class="text">{{homeServices.servTitleThree}}</div>
                        <p>{{homeServices.servDescThree}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <section class="premium">
        <div class="max-width">
            <h2 class="title">{{homePremium.premTitle}}</h2>
            <div class="premium-content">
                <div class="column left">
                    <img src="{{homePremium.premImage}}" alt="{{homePremium.premTitle}}">
                </div>
                <div class="column right">
                    <div class="text">{{homePremium.premSubtitle}}</div>

                    <p>
                        {{homePremium.premDesc}} 
                    </p>
                    <a href="{{homePremium.premBtnLink}}">{{homePremium.premBtn_text}} </a>
                </div>
            </div>
        </div>
    </section>