<!-- Inicio do conteudo do administrativo -->
<div class="wrapper">
    <div class="row">
        <div class="top-list">
            <span class="title-content">LISTAR</span>
            <div class="top-list-right">
                <a href="/situations-abouts-site/add" class="btn-success">Cadastrar</a>
            </div>
        </div>

        {{>_msgAdm}}

        <table class="table-list">
            <thead class="list-head">
                <tr>
                    <th class="list-head-content">ID</th>
                    <th class="list-head-content">Nome</th>
                    <th class="list-head-content">Ações</th>
                </tr>
            </thead>
            <tbody class="list-body">
                {{log situationsAbouts}}
                {{#each situationsAbouts}}
                <tr>
                    <td class="list-body-content">{{id}}</td>
                    <td class="list-body-content">{{nameSituation}}</td>
                    <td class="list-body-content">
                        <div class="dropdown-action">
                            <button onclick="actionDropdown({{id}})" class="dropdown-btn-action">Ações</button>
                            <div id="actionDropdown{{id}}" class="dropdown-action-item">
                                <a href="/situations-abouts-site/view/{{id}}">Visualizar</a>
                                <a href="/situations-abouts-site/edit/{{id}}">Editar</a>
                                <a href="/situations-abouts-site/delete/{{id}}" onclick="return confirm('Tem certeza que deseja excluir este registro?')">Apagar</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <!-- Incluir a paginação -->
        {{> _pagination}}
    </div>
</div>
<!-- Fim do conteudo do administrativo -->